body {
    background-color: #fff;
}

@media screen and (min-width: 600px) {

.top-nav .header .logo .logo-text {
    font-size: 18px;
}

.post-heading .post-title {
	font-size: 48px;
}

.post {
	height: 250px;
}

}


.top-nav .header {
    height: 36px;
    padding: 5px 20px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #1E0045;

}

.dark-bg {
    
}