body {
    background-color: #fff;
}

@media screen and (min-width: 768px) {

.top-nav .header .logo .logo-text {
    font-size: 18px;
}

.post-heading .post-title {
	font-size: 42px;
    text-transform: uppercase;
    line-height: 52px;
}

.post {
	height: 250px;
}

.post-thumbnail-link {
    width: 200px;
}

.posts-list .post-thumbnail {
    margin-right: 25px;
}

}


.top-nav .header {
    height: 36px;
    padding: 5px 20px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #1E0045;

}

.dark-bg {
    
}

.custom-hero-banner{
  text-align: left;
  color: #333;
}

.newsletter-banner {
    border: 1px;
    border-color: #1E0045;
}

.hero .hero-inner {
    min-height: 300px;
}

.hero .copy {
    top: 33%;
}